<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--ng-model指令-->
<!--
    ng-model 指令用于绑定应用程序数据到 HTML 控制器(input, select, textarea)的值。
    ng-model 指令可以将输入域的值与 AngularJS 创建的变量绑定。
-->
<div ng-controller="myCtrl">
    名字: <input ng-model="name">
</div>

<!--双向绑定，在修改输入域的值时， AngularJS 属性的值也将修改：-->
<div ng-controller="myCtrl">
    名字: <input ng-model="name">
    <h1>你输入了: {{name}}</h1>
</div>

<!--验证用户输入-->
<form name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
</form>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);//定义AngularJs模块；
    app.controller('myCtrl', function($scope) {//定义AngularJs控制器并绑定数据；
        $scope.name = "John Doe";
    });
</script>
</body>
</html>