<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angularjs基础实例-控制器</title>
</head>
<body ng-app="myAPP">
<div ng-controller="firstController">
    <input type="text" value="" ng-model="name"/>
    改变次数：{{count}}   {{name}}<br/>
    <input type="text" value="" ng-model="age"/>
    {{age}}
    <div ng-controller="secondController">
        <input type="text" value="" ng-model="name"/>
        {{name}}<br/>
        <input type="text" value="" ng-model="age"/>
        {{age}}
    </div>
    {{date}}<br/>

</div>
<script src="js/angular.js"></script>
<script>
    angular.module("myAPP",[])
            .controller("firstController",function($scope){
                $scope.name="张三";
                console.log($scope);
                $scope.date=new Date();
                setInterval(function(){
                    $scope.$apply(function(){
                        $scope.date=new Date();
                    });
                },1000);
                $scope.count=0;
                $scope.$watch("name",function(newValue,oldValue){
                    if(newValue!=oldValue){
                        ++$scope.count;
                    }
                    if($scope.count>30){
                        $scope.name="已经大于30次了"
                    }
                });
            })
            .controller("secondController",function($scope){
                $scope.age="20";
                $scope.name="李四";
                console.log($scope);
            });
</script>
</body>
</html>