<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="copyExample">
<div ng-controller="ExampleController">
    <form novalidate class="simple-form">
        Name: <input type="text" ng-model="user.name" /><br />
        E-mail: <input type="email" ng-model="user.email" /><br />
        Gender:
        <input type="radio" ng-model="user.gender" value="male" />
        male
        <input type="radio" ng-model="user.gender" value="female" />
        female
        <br />
        <button ng-click="reset()">RESET</button>
        <button ng-click="update(user)">SAVE</button>
    </form>
    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>
<script src="js/angular.js"></script>
<script>
    angular.module('copyExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.master= {};

                var test1;
                console.log(angular.copy(test1));//undefined
                var test3=null;
                console.log(angular.copy(test2));//undefined

                var test2 = "a";
//                 console.log(angular.copy(test2,test2));//error!!

                $scope.update = function(user) {
                    // Example with 1 argument
                    $scope.master= angular.copy(user);
                };

                $scope.reset = function() {
                    // Example with 2 arguments
                    angular.copy($scope.master, $scope.user);
                    console.log($scope.master);
                    console.log($scope.user);
                };

                $scope.reset();
            }]);
</script>
</body>
</html>