<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--AngularJs数字-->
<div ng-init="quantity=2;cost=5">
    <p>总价：{{quantity*cost}}</p>
    <p>总价：<span ng-bind="quantity*cost"></span></p>
</div>

<!--AngularJs字符串-->
<div ng-init="firstName='John';lastName='Doe'">
    <p>姓名：{{firstName+' '+lastName}}</p>
    <p>姓名：<span ng-bind="firstName+' '+lastName"></span></p>
</div>

<!--AngularJs对象-->
<div ng-init="person={firstName:'John',lastName:'Doe'}">
    <p>姓为：{{person.lastName}}</p>
    <p>姓为：<span ng-bind="person.lastName"></span></p>
</div>

<!--AngularJs数组-->
<div ng-init="points=[1,15,19,2,40]">
    <p>第三个值为：{{points[2]}}</p>
    <p>第三个值为：<span ng-bind="points[2]"></span></p>
</div>

<!--AngularJs与JavaScript异同：
    1、类似于 JavaScript 表达式，AngularJS 表达式可以包含字母，操作符，变量。
    2、与 JavaScript 表达式不同，AngularJS 表达式可以写在 HTML 中。
    3、与 JavaScript 表达式不同，AngularJS 表达式不支持条件判断，循环及异常。
    4、与 JavaScript 表达式不同，AngularJS 表达式支持过滤器。
-->
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);//定义AngularJs模块；
    app.controller('myCtrl', function($scope) {//定义AngularJs控制器并绑定数据；
    });
</script>
</body>
</html>