<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--
    AngularJS 通过 ng-directives 扩展了 HTML。
    ng-app 指令定义一个 AngularJS 应用程序。
    ng-model 指令把元素值（比如输入域的值）绑定到应用程序。
    ng-bind 指令把应用程序数据绑定到 HTML 视图。
-->
<div>
    <p>名字 : <input type="text" ng-model="name"/></p>
    <h1>Hello <span ng-bind="name"></span></h1><!-- 此语句会出现闪烁-->
    <h1>Hello <span ng-bind="name"></span></h1><!-- ng-bind指令可以解决上述闪烁问题-->
</div>
<!--
    实例解析：
    当网页加载完毕，AngularJS 自动开启。
    ng-app 指令告诉 AngularJS，<div> 元素是 AngularJS 应用程序 的"所有者"。
    ng-model 指令把输入域的值绑定到应用程序变量 name。
    ng-bind 指令把应用程序变量 name 绑定到某个段落的 innerHTML。
-->

<!--ng指令-->
<!-- ng-init指令初始化AngularJs应用程序变量 -->
<div ng-init="firstName='John'">
    <p>姓名为 <span ng-bind="firstName"></span></p>
</div>

<!-- AngularJs表达式 -->
<!--
    AngularJS 表达式写在双大括号内：{{ expression }}。
    AngularJS 表达式把数据绑定到 HTML，这与 ng-bind 指令有异曲同工之妙。
    AngularJS 将在表达式书写的位置"输出"数据。
    AngularJS 表达式 很像 JavaScript 表达式：它们可以包含文字、运算符和变量。
    实例 {{ 5 + 5 }} 或 {{ firstName + " " + lastName }}
-->
<div>
    <p>我的第一个表达式： {{ 5 + 5 }}</p>
</div>

<!--AngularJs应用-->
<!--
    AngularJS 模块（Module） 定义了 AngularJS 应用。
    AngularJS 控制器（Controller） 用于控制 AngularJS 应用。
    ng-app指令定义了应用, ng-controller 定义了控制器。
-->
<div ng-controller="myCtrl">
    名: <input type="text" ng-model="firstName"><br>
    姓: <input type="text" ng-model="lastName"><br>
    <br>
    姓名: {{firstName + " " + lastName}}
</div>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);//定义AngularJs模块；
    app.controller('myCtrl', function($scope) {//定义AngularJs控制器并绑定数据；
        $scope.firstName= "John";
        $scope.lastName= "Doe";
    });
</script>
</body>
</html>