<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/swiper.min.css"/>
    <title></title>
</head>
<body>
<div>
    <ks-swiper-container
            slides-per-view="3"
            slides-per-column="1"
            space-between="0"
            pagination-is-active="true"
            pagination-clickable="false"
            show-nav-buttons="false"
            loop="true"
            autoplay="5000"
            initial-slide="0"
            direction="horizontal">
        <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,7,8,9,10,11,12,13,14]">
            <img ng-src="http://api.randomuser.me/portraits/thumb/men/{{s}}.jpg">
        </ks-swiper-slide>
    </ks-swiper-container>
</div>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="js/angular.js"></script>
<script src="../js/swiper-3.3.1.min.js"></script>
<script src="../js/angular-swiper.js"></script>
<script>
    angular.module('myApp', ['ksSwiper']);
</script>
</body>
</html>