<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--
    AngularJS 通过被称为 指令 的新属性来扩展 HTML。
    AngularJS 通过内置的指令来为应用添加功能。
    AngularJS 允许你自定义指令。
-->
<!--
    AngularJS 指令是扩展的 HTML 属性，带有前缀 ng-。
    ng-app 指令初始化一个 AngularJS 应用程序。
    ng-init 指令初始化应用程序数据。
    ng-model 指令把元素值（比如输入域的值）绑定到应用程序。
-->
<!--
    AngularJS 中的数据绑定，同步了 AngularJS 表达式与 AngularJS 数据。
    {{ firstName }} 是通过 ng-model="firstName" 进行同步。
-->
<div ng-init="firstName='John'">
    <p>在输入框中尝试输入：</p>
    <p>姓名：<input type="text" ng-model="firstName"/></p>
    <p>你输入的为：{{firstName}}</p>
</div>

<div ng-init="quantity=1;cost=5">
    <h3>价格计算器</h3>
    数量：<input type="number" ng-model="quantity"/>
    价格：<input type="number" ng-model="cost"/>
    <p><b>总价：</b>{{quantity*cost}}</p>
</div>

<h1>重复HTML元素</h1>
<div ng-init="names=['Jani','Amy','carol']">
    <p>使用ng-repeat来循环数组</p>
    <ul>
        <li ng-repeat="x in names">
            {{x}}
        </li>
    </ul>
</div>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);//定义AngularJs模块；
    app.controller('myCtrl', function($scope) {//定义AngularJs控制器并绑定数据；
    });
</script>
</body>
</html>