<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        table{
            float: left;
            border:1px solid #ddd;
            border-collapse: collapse;
        }
        table tr th,table tr td{
            border:1px solid #ddd;
            font-size: 12px;
            text-align: center;
        }
        .secondCon{
            width:300px;
            overflow-x: auto;
        }
        .secondCon table{
            width:440px;
        }
    </style>
</head>
<body ng-app="copyExample">
<div ng-controller="ExampleController">
    <div class="firstCon">
        <table style="width: 200px;">
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            <tr ng-repeat="data in dataList track by $index">
                <td>{{data.name}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.age}}</td>
            </tr>
        </table>
    </div>
    <div class="secondCon">
        <table>
            <tr>
                <th width="80">语文</th>
                <th width="80">数学</th>
                <th width="80">英语</th>
                <th width="200">操作</th>
            </tr>
            <tr ng-repeat="data in dataList track by $index">
                <td>{{data.chinese}}</td>
                <td>{{data.math}}</td>
                <td>{{data.english}}</td>
                <th>
                    <a ng-click="edit(data)">编辑</a>
                    <a ng-click="delete(data,$index)">删除</a>
                </th>
            </tr>
        </table>
    </div>
</div>
<script src="js/angular.js"></script>
<script>
    angular.module('copyExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
              $scope.dataList=[
                {
                  name:'张三',
                  gender:'男',
                  age:20,
                  chinese:80,
                  math:90,
                  english:85
                },
                {
                  name:'李四',
                  gender:'男',
                  age:30,
                  chinese:50,
                  math:80,
                  english:85
                },
                {
                  name:'王五',
                  gender:'女',
                  age:25,
                  chinese:75,
                  math:85,
                  english:80
                },
                {
                  name:'赵六',
                  gender:'女',
                  age:22,
                  chinese:89,
                  math:99,
                  english:89
                }
              ];
              $scope.edit=function(data){
                data.age=0;
              };
              $scope.delete=function(data,index){
                $scope.dataList.splice(index,1);
              }
            }]);
</script>
</body>
</html>