<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div ng-controller="EventController">
        root scope
        <tt>MyEvent</tt> count:{{count}}
        <ul>
            <li ng-repeat="i in [1]" ng-controller="EventController">
                <button ng-click="$emit('MyEvent')">
                    $emit('MyEvent);
                </button>
                <button ng-click="$broadcast('MyEvent')">
                    $broadcast('MyEvent);
                </button>
                <br/>
                middle scope
                <tt>MyEvent</tt> count:{{count}}
                <ul>
                    <li ng-repeat="item in [1,2]" ng-controller="EventController">
                        leaf scope
                        <tt>MyEvent</tt> count:{{count}}
                    </li>
                </ul>
            </li>
        </ul>

    </div>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);//定义AngularJs模块；
    app.controller('myCtrl', function($scope) {//定义AngularJs控制器并绑定数据；
        $scope.firstName= "John";
        $scope.lastName= "Doe";
    }).controller('EventController',function($scope){
        $scope.count=0;
        $scope.$on("MyEvent",function(){
            $scope.count++;
        });
    });
</script>
</body>
</html>