<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <input type="text" ng-model="greeting.text"/>
        <p>{{greeting.text}},Angular</p>
    </div>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);//定义AngularJs模块；
    app.controller('myCtrl', function($scope) {//定义AngularJs控制器并绑定数据；
        $scope.firstName= "John";
        $scope.lastName= "Doe";
    });
</script>
</body>
</html>