<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="extendApp">
<div ng-controller="extendController">

    <button ng-click="extend()">点击我！</button>

</div>
<script src="js/angular.js"></script>
<script>
    angular.module('extendApp', [])
            .controller("extendController", function($scope)
            {
                $scope.baby =
                {
                    cry : function()
                    {
                        console.log("I can only cry!");
                    }
                };

                $scope.adult =
                {
                    earn : function()
                    {
                        console.log("I can earn money!");
                    },

                    lover:
                    {
                        love:function()
                        {
                            console.log("I love you!");
                        }
                    }
                };

                $scope.human = {};

                $scope.hehe = "hehe ";

                $scope.extend = function()
                {
                    angular.extend($scope.human, $scope.baby, $scope.adult);
                    $scope.human.cry();
                    $scope.human.earn();

                    <!-- 注意，这里修改了lover对象的love()方法，由于extends()方法不是深复制的，$scope.human和$scope.adult其实引用的是同一个对象-->
                    $scope.human.lover.love = function()
                    {
                        console.log("I hate you!");
                    };

                    <!-- 这两行都会输出“I hate you !"，可怜的adult对象,他把自己的lover分享给了human! -->
                    $scope.human.lover.love();
                    $scope.adult.lover.love();


                }


                var a = {
                name : 'bijian',
                address : 'shenzhen',
                family : {
                    num : 6,
                    amount : '80W'
                }
            };
                var b = {};

                var r = angular.extend(b, a);
                console.log('a:' + JSON.stringify(a));
                console.log('b:' + JSON.stringify(b));
                console.log('r:' + JSON.stringify(r));

                b.address = 'hanzhou';
                b.family.amount = '180W';
                console.log('a:' + JSON.stringify(a));
                console.log('b:' + JSON.stringify(b));
                console.log('r:' + JSON.stringify(r));


                var mySource = {'name' : 'sakshi', 'age' : '24', 'obj' :{'key':'value'}};
                var myDest1 = {};
                angular.copy(mySource, myDest1);
                console.log(myDest1);
                console.log(mySource.obj === myDest1.obj);

                var mySource1 = {'name' : 'neha', 'age' : '26', obj2 : {}};
                var mySource2 = {'course' : 'MCA'};
                var myDest2 = {};
                angular.extend(myDest2, mySource1,mySource2);
                console.log(myDest2);
                console.log(mySource1.obj2 === myDest2.obj2);
            });
</script>
</body>
</html>