<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<!--用法：
    ng-change 指令用于告诉 AngularJS 在 HTML 元素值改变时需要执行的操作。
    ng-change 指令需要搭配 ng-model 指令使用。
    AngularJS ng-change 指令指令不会覆盖原生的 onchange 事件, 如果触发该事件，ng-change 表达式与原生的 onchange 事件都会执行。
    ng-change 事件在值的每次改变时触发，它不需要等待一个完成的修改过程，或等待失去焦点的动作。

    ******** ng-change 事件只针对输入框值的真实修改，而不是通过 JavaScript 来修改。********
    <input>, <select>, 和  <textarea> 元素支持。
-->
    <div ng-app="myApp" ng-controller="myCtrl">
        <input type="checkbox" ng-model="chk" ng-change="chkboxChange(chk)"/>
        <input type="text" ng-model="val" ng-change="textChange(val)"/>
    </div>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.chk = false;
        $scope.val = 123;
        $scope.chkboxChange = function(chk){
            !chk ? alert('选中') : alert('未选中');
        };

        $scope.textChange = function(val){
            alert('变化了')
        }
    });
</script>
</body>
</html>