<html>
<title>ng-class</title>
<style>
    .red{
        border:1px solid red;
    }
    .green{
        border:1px solid green;
    }
</style>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <input type="checkbox" ng-model="chk"/>

    <div ng-class="{true:'red',false:'green'}[chk]">
        <h1>Welcome Home!</h1>
        <p>I like it!</p>
    </div>
    <br>
    <div ng-class="{'red':chk,'green':!chk}">
        <h1>Welcome Home!</h1>
        <p>I like it!</p>
    </div>
</div>
<script src="js/angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.chk=false;
    });
</script>
</body>
</html>