<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angularjs基础实例-控制器</title>
</head>
<body ng-app>
<div ng-controller="firstController">
    <input type="text" value="" ng-model="name"/>
    {{name}}
</div>
<script src="js/angular.js"></script>
<script>
   var firstController = function($scope){
       $scope.name = "张三";
   };
</script>
</body>
</html>