<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>$on,$broadcast,$emit</title>
</head>
<body ng-app="app">
<!--$emit只能向parent controller传递event与data-->
<!--$broadcast只能向child controller传递event与data-->
<!--$on用于接收event与data-->
<div ng-controller="ParentCtrl">                <!--父级-->
    <div ng-controller="SelfCtrl">              <!--自己-->
        <a ng-click="click()">click me</a>
        <div ng-controller="ChildCtrl"></div>   <!--子级-->
    </div>
    <div ng-controller="BroCtrl"></div>         <!--平级-->
</div>
<script src="js/angular.js"></script>
<script>
    angular.module('app', [])
            .controller('SelfCtrl', function($scope) {
                $scope.click = function () {
                    $scope.$broadcast('to-child', 'child');
                    $scope.$emit('to-parent', 'parent');
                }
            }).controller('ParentCtrl', function($scope) {
                    $scope.$on('to-parent', function(event,data) {
                    console.log('ParentCtrl', data);	   //父级能得到值
                });
                    $scope.$on('to-child', function(event,data) {
                    console.log('ParentCtrl', data);	   //子级得不到值
                });
            }).controller('ChildCtrl', function($scope){
                    $scope.$on('to-child', function(event,data) {
                    console.log('ChildCtrl', data);		 //子级能得到值
                });
                    $scope.$on('to-parent', function(event,data) {
                    console.log('ChildCtrl', data);		 //父级得不到值
                });
            }).controller('BroCtrl', function($scope){
                    $scope.$on('to-parent', function(event,data) {
                    console.log('BroCtrl', data);		  //平级得不到值
                });
                    $scope.$on('to-child', function(event,data) {
                    console.log('BroCtrl', data);		  //平级得不到值
                });
            });
</script>
</body>
</html>