<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngInfiniteScroll</title>
</head>
<body>
<div ng-app='myApp' ng-controller='DemoController'>
    <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
        <div ng-repeat='image in images'>
            <img ng-src='http://placehold.it/225x250&text={{image}}'>
            <div>{{image}}</div>
        </div>

    </div>
</div>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="js/angular.js"></script>
<script src="ngInfiniteScroll/1.2.0/ng-infinite-scroll.min.js"></script>
<script>
    var myApp = angular.module('myApp', ['infinite-scroll']);
    myApp.controller('DemoController', function($scope) {
        $scope.images = [1, 2, 3, 4, 5, 6, 7, 8];

        $scope.loadMore = function() {
            var last = $scope.images[$scope.images.length - 1];
            for(var i = 1; i <= 8; i++) {
                if($scope.images.length==20){
                    break;
                }else{
                    $scope.images.push(last + i);
                }
            }
        };
    });
</script>
</body>
</html>