<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>ngInfiniteScroll</title>
</head>
<body>
<div ng-app='myApp' ng-controller='DemoController'>
    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
        <div ng-repeat='item in reddit.items'>
            <span class='score'>{{item.score}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
            <small>by {{item.author}} -
                <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
            </small>
            <div style='clear: both;'></div>
        </div>
        <div ng-show='reddit.busy'>Loading data...</div>
    </div>
</div>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="js/angular.js"></script>
<script src="ngInfiniteScroll/1.2.0/ng-infinite-scroll.min.js"></script>
<script>
    var myApp = angular.module('myApp', ['infinite-scroll']);

    myApp.controller('DemoController', function($scope, Reddit) {
        $scope.reddit = new Reddit();
    });

    // Reddit constructor function to encapsulate HTTP and pagination logic
    myApp.factory('Reddit', function($http) {
        var Reddit = function() {
            this.items = [];
            this.busy = false;
            this.after = '';
        };

        Reddit.prototype.nextPage = function() {
            if (this.busy) return;
            this.busy = true;

            var url = "https://api.reddit.com/hot?after=" + this.after + "&jsonp=JSON_CALLBACK";
            $http.jsonp(url).success(function(data) {
                var items = data.data.children;
                for (var i = 0; i < items.length; i++) {
                    this.items.push(items[i].data);
                }
                this.after = "t3_" + this.items[this.items.length - 1].id;
                this.busy = false;
            }.bind(this));
        };

        return Reddit;
    });
</script>
</body>
</html>