<div>
    <p class="text-{{color}}">测试css样式</p>
    <button class="btn btn-default" ng-click="setGreen()">绿色</button>
    <div ng-class="{error:isError,warning:isWarning}">{{MessageText}}</div>
    <button class="btn btn-success" ng-click="showError()">Simulate Error</button>
    <button class="btn btn-success" ng-click="showWarning()">Simulate Warning</button>
</div>