<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">双项数据绑定</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label">邮箱：</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" placeholder="推荐使用126邮箱" ng-model="userInfo.email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">密码：</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" placeholder="只能是数字、字母和下划线" ng-model="userInfo.password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="userInfo.autoLogin"/>自动登录
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button class="btn btn-default" ng-click="getFormData()">获取表单数据</button>
                                <button class="btn btn-default" ng-click="setFormData()">设置表单数据</button>
                                <button class="btn btn-default" ng-click="resetForm()">重置表单数据</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>