<div>
    <button class="btn btn-success" ng-click="toggleMenu()">
        Toggle Menu
    </button>
    <ul ng-show="menuState.show">
        <li ng-click="stun()">Stun</li>
        <li ng-click="disintegrate()">Disintegrate</li>
        <li ng-click="erase()">Erase from history</li>
    </ul>
</div>