<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <title></title>
</head>
<body>
    <div class="container" ng-controller="cartController">
        <table class="table" ng-show="cart.length">
            <thead>
                <tr>
                    <th>产品编号</th>
                    <th>产品名字</th>
                    <th>购买数量</th>
                    <th>产品单价</th>
                    <th>产品总价</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="reduce(item.id)">-</button>
                        <input type="text" value="{{item.quantity}}" ng-model="item.quantity"/>
                        <button type="button" class="btn btn-primary" ng-click="add(item.id)">+</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price*item.quantity}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="remove(item.id)">移除</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        总购买价
                    </td>
                    <td>
                        {{totalPrice()}}
                    </td>
                    <td>
                        总购买数量
                    </td>
                    <td>
                        {{totalCount()}}
                    </td>
                    <td colspan="2">
                        <button type="button" class="btn btn-danger" ng-click="cart={}">清空购物车</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p ng-show="!cart.length">您的购物车现在空空如也，快去购物吧~</p>
    </div>
<script src="../js/angular.js"></script>
<script src="index.js"></script>
</body>
</html>